__pycache__
csv
failed_urls.csv
batch_emails.csv
node_modules
dist
videos/combined-frames/*
videos/frames/*
videos/frames-processed/*
videos/merged-videos/*
videos/original-bubble-video/*
videos/website-recordings/*